<div class="d-flex justify-content-center">
    <h1>Order History</h1>
</div>

<div *ngIf="orderList.length ===0" class="alert alert-info">No event to show!</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th id="userName">Username</th>
            <th id="pNo">Phone Number</th>
            <th id="email">Email</th>
            <th id="eventName">Event Name</th>
            <th id="eventDate">Event Date</th>
            <th id="ticketPrice">Ticket Price</th>
            <th id="ticketAmount">Amount</th>
            <th id="payment">Payment</th>
            <th id="purchaseDate">Purchase Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of orderList;">
            <td>{{i?.userName}}</td>
            <td>{{i?.pNo | mask:"(000) 000-0000"}}</td>
            <td>{{i?.email}}</td>
            <td>{{i?.eventName}}</td>
            <td>{{i?.eventDate | date:'MM/dd/yyyy, H:m'}}</td>
            <td>{{i?.ticketPrice | currency}}</td>
            <td>{{i?.ticketAmount}}</td>
            <td>{{i?.ticketAmount | purchase: i?.ticketPrice | currency}}</td>
            <td>{{i?.purchaseDate | date:'MM/dd/yyyy, H:m'}}</td>
        </tr>
    </tbody>
</table>

<a class="btn btn-dark btn-lg" style="position: fixed; bottom: 0px; right: 0px;" [routerLink]="['/home']">Back</a>