<div class="d-flex justify-content-center">
    <h1>Available Events</h1>
</div>

<div *ngIf="eventList.length ===0" class="alert alert-info">No event to show!</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th id="name">Name</th>
            <th id="description">Description</th>
            <th id="location">Location</th>
            <th id="eventDate">Event Date</th>
            <th id="price">Ticket Price</th>
            <th id="button">View Sales</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of eventList; let ind = index">
            <td>{{i?.name}}</td>
            <td>{{i?.description}}</td>
            <td>{{i?.location}}</td>
            <td>{{i?.eventDate | date}}</td>
            <td>{{i?.price | currency}}</td>
            <td>
                <!-- <p><button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#myModal">Edit</button></p> -->
                <p><button class="btn btn-danger btn-sm" (click)="onDelete(i._id)">Delete</button></p>
            </td>
            <td><a class="btn btn-secondary btn-lg" [routerLink]="['/sales', i._id]">Ticket Sales</a></td>
        </tr>
    </tbody>
</table>

<a class="btn btn-dark btn-lg" style="position: fixed; bottom: 0px; right: 0px;" [routerLink]="['/addEvent']">Add
    Event</a>