<div class="container d-flex justify-content-left">
    <div class="card" style="width:100%">
        <img class="card-img-top img-fluid" *ngIf="!(event?.imageURL == null)" src="{{event?.imageURL}}"
            alt="{{event?.imageURL}}">
        <div class="card-body">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" colspan="2">{{event?.name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{event?.description}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Location</th>
                        <td>{{event?.location}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Event Date</th>
                        <td>{{event?.eventDate | date}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Ticket Price</th>
                        <td>{{event?.price | currency}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"> <button class="btn btn-outline-dark btn-lg" data-toggle="modal"
                                data-target="#ticketModal" (click)="getEventID(event?._id)" [disabled]="!checkLogIn()"
                                [style]="{'float':'right'}">Purchase tickets</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-outline-info btn-lg" [routerLink]="['/home']" [style]="{'float':'left'}">Back to
                home</button>
        </div>

    </div>
</div>

<div *ngIf="!checkLogIn()" class="container">
    <div class="alert alert-warning">
        <strong>Warning!</strong> Please login to purchase tickets.
    </div>
</div>



<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="ticketModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Purchase Tickets</h4>
                    <button type="button" class="close" data-dismiss="modal" #closeModal>&times;</button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="ticketForm" (ngSubmit)="ticketForm.valid && purchaseTickets(ticketForm)">
                        <div class="form-group">
                            <label for="amount">Ticket Amount</label>
                            <input type="number" id="amount" name="amount" class="form-control" formControlName="amount"
                                [ngClass]="{ 'is-invalid': ticketForm.get('amount').touched && ticketForm.get('amount').invalid }">
                            <span class="invalid-feedback">
                                <span *ngIf="ticketForm.get('amount').hasError('required')">At least 1 ticket</span>
                                <span *ngIf="ticketForm.get('amount').hasError('negative')">Amount must be larger than 0
                                </span>
                            </span>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info" [disabled]="ticketForm.invalid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>