<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center">
                <h1>Add Event</h1>
            </div>
            <form [formGroup]="eventForm" (ngSubmit)="eventForm.valid && onSubmit(eventForm)">
                <div class="form-group">
                    <label for="name">Event Name</label>
                    <input type="text" id="name" name="name" class="form-control" formControlName="name"
                        [ngClass]="{ 'is-invalid': eventForm.get('name').touched && eventForm.get('name').invalid }">
                    <span class="invalid-feedback">
                        <span *ngIf="eventForm.get('name').hasError('required')">Event name can't be blank</span>
                    </span>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" id="description" name="description" class="form-control"
                        formControlName="description"
                        [ngClass]="{ 'is-invalid': eventForm.get('description').touched && eventForm.get('description').invalid }">
                    <span class="invalid-feedback">
                        <span *ngIf="eventForm.get('description').hasError('required')">Description can't be
                            blank</span>
                    </span>
                </div>

                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" id="location" name="location" class="form-control" formControlName="location"
                        [ngClass]="{ 'is-invalid': eventForm.get('location').touched && eventForm.get('location').invalid }">
                    <span class="invalid-feedback">
                        <span *ngIf="eventForm.get('location').hasError('required')">Location can't be blank</span>
                    </span>
                </div>

                <div class="form-group">
                    <label for="eventDate">Event Date</label>
                    <input type="datetime-local" id="eventDate" name="eventDate" class="form-control"
                        formControlName="eventDate"
                        [ngClass]="{ 'is-invalid': eventForm.get('eventDate').touched && eventForm.get('eventDate').invalid }">
                    <span class="invalid-feedback">
                        <span *ngIf="eventForm.get('eventDate').hasError('required')">Event date can't be
                            blank</span>
                    </span>
                </div>

                <div class="form-group">
                    <label for="price">Ticket price</label>
                    <input type="number" id="price" name="price" class="form-control" formControlName="price"
                        [ngClass]="{ 'is-invalid': eventForm.get('price').touched && eventForm.get('price').invalid }">
                    <span class="invalid-feedback">
                        <span *ngIf="eventForm.get('price').hasError('required')">Price can't be blank</span>
                    </span>
                </div>

                <div class="form-group">
                    <label for="imageURL">Image URL</label>
                    <input type="text" id="imageURL" name="imageURL" class="form-control" formControlName="imageURL"
                        [ngClass]="{ 'is-invalid': eventForm.get('imageURL').touched && eventForm.get('imageURL').invalid }">
                    <span class="invalid-feedback">
                        <span *ngIf="eventForm.get('imageURL').hasError('required')">Image URL can't be blank</span>
                    </span>
                </div>

                <button class="btn btn-outline-info btn-lg" [routerLink]="['/displayEvent']"
                    [style]="{'float':'left'}">Back to Event Dashboard</button>

                <button class="btn btn-success btn-lg" [disabled]="eventForm.invalid" [style]="{'float':'right'}">Create
                    Event</button>
            </form>
        </div>
    </div>
    <div class="row">

    </div>
</div>